// buttons variables
$action-btn-bg: #131313;
$btn-color: #fff;
$primary: #1f1f1f;

//
$light-color: #fff;
$font-dark: #1f1f1f;
$font-light: #888888;
$box-bg:lightseagreen;
$media-breakpoint-lg:992px;

$font-weight: (
  "lighter": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "bolder": 800,
  "extrabold": 900,
);